<mat-grid-list cols="2" gutterSize="10px" rowHeight="1000px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="vertical-list">
      <div *ngFor="let court of courts" >
          <h3>{{court.name}}</h3>
          <button mat-button color="accent" (click)="onClickEdit(court)">Edit</button>
          <button mat-button color="warn" (click)="onClickDelete(court)">Delete</button>
          <mat-divider></mat-divider>
      </div>
    </div>

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div>
      <app-court-edit-details *ngIf="editMode" [selectedCourt]="selectedCourt" (editFinished)="editMode=false"></app-court-edit-details>
    </div>
  </mat-grid-tile>
</mat-grid-list>
